html {
	font-family: 'Amatic SC', cursive;
	font-size: 50px;
	line-height: 1.5;
}

/*-- ----------------------------  GRID  ----------------------------------------- */
.container {
	width: 1140px;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
}
.footer_container {
	font-size: 30px;
	color: #FFF;
	display: flex;
	bottom: 3px;
	flex-direction: row;
	position: absolute;
}

/*-- ----------------------------  HEADER  ----------------------------------------- */


.header {
	background-image: url("../img/background.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100vh;
	color: #000000;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}

.header_title {
	font-size: 143px;
	margin-bottom: -45px;
	font-family: 'Amatic SC', cursive;
	margin-top: -60px;
	margin-left: -720px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
}
.header_slogan {
	font-size: 50px;
	margin-bottom: 0px;
	font-family: 'Amatic SC', cursive;
	margin-top: -20px;
	margin-left: -720px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
}
.header1_icon {
	color: #FFF;
	font-size: 25px;
	position: absolute;
	top: 45px;
	left: 30px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
}
.header2_about {
	color: #FFF;
	font-size: 30px; 
	top: 40px;
	right: 30px;
	font-family: 'Amatic SC', cursive;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
}
.logo_icon {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 150px;
	left: 180px;
}

/* ----------------------------  MIDDLE  ----------------------------------------- */

.middle {
	background-image: url("../img/middle_bg.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100vh;
	color: #000000;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}
.middle_title {
	font-size: 35px;
	font-family: 'Amatic SC', cursive;
	color: #FFF;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 900px;
	position: absolute;
}

/* ----------------------------  FOOTER  ----------------------------------------- */

.footer {
	background-image: url("../img/footer.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 10vh;
	color: #000000;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}
.footer_title {
	font-size: 30px;
	font-family: 'Amatic SC', cursive;
	color: #FFF;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	top: 5px;
	position: absolute;
}
.footer_facebook {
	margin-right: 10px;
}
.footer_telegram {
	margin-right: 10px;
}
.footer_vk {
	margin-right: 10px;
}
.footer_instagram {
	margin-right: 10px;
}